<!-- This file is part of Pandosophy
	Pandosophy is a web app built with Vue. Among its goals are serving as an educational tool by providing an example of the framework's usage, and serving as a template for developers intending to create their own project.
    Copyright (C) 2022, Andrés Schafer <altersapiens@tutanota.com>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<script setup lang="ts">
	import { onMounted, ref } from "vue";
	import { user, backendUrl, getProfileImg } from "@/assets/store";

	const profilePath = `/users/${user.name}`;
	const loginPath = `${backendUrl}/users/login`;

	const emit = defineEmits(["toggleMenu"]);
	const pages = ref([
		{ link: "/shop", label: "Shop" },
		{ link: "/lore", label: "Lore" },
	]);

	onMounted(() => {
		getProfileImg(user.name);
	});
</script>

<template>
	<div id="menu-bar">
		<button id="ham-menu" class="noSelect" @click="emit('toggleMenu')">
			<i class="fas fa-bars fa-2x"></i>
		</button>
		<div id="info">
			<router-link to="/about">
				<i class="fa-solid fa-circle-info fa-lg"></i>
			</router-link>
			<router-link :to="user.isAuth ? profilePath : loginPath">
				<div>
					<img :src="user.image" alt="" />
				</div>
			</router-link>
		</div>

		<div class="links-root">
			<router-link
				v-for="page in pages"
				:key="page.link"
				:to="page.link"
				custom
				v-slot="{ navigate }"
			>
				<div class="link-box" role="link" @click="navigate">
					{{ page.label }}
				</div>
			</router-link>
		</div>

		<router-link to="/settings">
			<i class="fa-solid fa-cog fa-2x"></i>
		</router-link>
	</div>
</template>

<style scoped lang="scss">
	@import url(../assets/icons/css/all.css);

	i {
		color: var(--highlightedFont);
	}

	#menu-bar {
		position: fixed;
		width: min(400px, 70%);
		height: 100%;
		background-color: var(--background);
		overflow: auto;
		z-index: 4;
		transition: all 0.5s;
	}
	#info {
		display: grid;
		align-items: center;
		justify-content: center;
		height: 10rem;
		div {
			display: grid;
			width: 8rem;
			height: 7rem;
			background: var(--foreground);
			border-radius: 10%;
			padding: 0.5rem 0.5rem;
			img {
				align-self: center;
				justify-self: center;
				width: auto;
				height: auto;
				max-width: 7rem;
				max-height: 6rem;
				border-radius: 5%;
				transition: all 0.2s;
			}
			&:hover {
				img {
					transform: scale(1.25);
				}
			}
		}
		i {
			position: absolute;
			right: 5%;
			top: 1.5rem;
		}
	}
	h1 {
		color: var(--highlightedFont);
		margin-top: 0.1rem;
		padding-bottom: 0.1rem;
	}

	.links-root {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
		grid-auto-flow: dense;
		padding: 0 5%;
	}

	.link-box {
		height: fit-content;
		color: var(--highlightedFont);
		background-color: var(--foreground);
		padding: 15px;
		margin: 1px 1px;
		border: var(--background);
		transition: all 0.2s;
		border-radius: 2rem;
	}
	.link-box:hover {
		cursor: pointer;
		background-color: var(--accent);

		color: var(--accentFont);
	}

	.fa-cog {
		position: absolute;
		bottom: 2rem;
		left: 1rem;
	}
</style>
