<script setup lang="ts">
	const props = defineProps({
		header: String,
		text: String,
	});
</script>

<template>
	<div>
		<h3>{{ header }}</h3>
		<br />
		<p>{{ text }}</p>
		<button @click="$emit('notifClose')">Okie-doke</button>
	</div>
</template>

<style scoped lang="scss">
	div {
		display: block;
		background: var(--foreground);
		color: var(--highlightedFont);
		position: fixed;
		width: fit-content;
		height: fit-content;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 4;
		border-radius: 0.5rem;
		padding: 1rem;
		h3 {
			float: left;
		}
		p {
			clear: both;
			margin: 2rem auto;
		}
		button {
			float: right;
			padding: 0.5rem;
		}
	}
</style>
