<!-- This file is part of Pandosophy
	Pandosophy is a web app built with Vue. Among its goals are serving as an educational tool by providing an example of the framework's usage, and serving as a template for developers intending to create their own project.
    Copyright (C) 2022, Andrés Schafer <altersapiens@tutanota.com>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<script setup lang="ts">
	import { onMounted, reactive, ref } from "vue";
	import { user, backendUrl } from "@/assets/store";
	const emit = defineEmits(["maxIcon", "unauthorized"]);

	interface Post {
		_id: number;
		name: string;
		quote: string;
		year: number;
		image: string;
		fallbackImgPath: string;
		localImage: boolean;
		paws?: number;
		pawedBy: string[];
	}

	const posts: Post[] = reactive([]);
	let maximizedIcon = reactive({
		isDisplayed: false,
		philosopherName: "",
		source: "",
		topPos: 0,
		leftPos: 0,
		miniWidth: 0,
		miniHeight: 0,
		element: <any>null,
	});

	const pageCenter = ref(getPageCenter());
	const pageSize = reactive({
		width: window.innerWidth,
		height: innerHeight,
	});
	const postsEl = ref(<any>[]);
	const isImgMaximized = ref(false);
	const imgSize = reactive({
		width: 72,
		height: 80,
		isInitialized: false,
	});

	const isPawed = (postData: Post) => {
		let pawedBoolean = false;
		for (const pawer of postData.pawedBy) {
			pawedBoolean = true;
		}
		return pawedBoolean;
	};

	function getImageValues(image: any) {
		maximizedIcon.leftPos = image.left;
		maximizedIcon.topPos = image.top;
		imgSize.width = image.width;
		imgSize.height = image.height;
	}

	function maximizeImage(key: number, event: any) {
		maximizedIcon.element = event.target.getBoundingClientRect();
		const image = maximizedIcon.element;

		getImageValues(image);

		const imageContainer = postsEl.value[key].children[1];
		imageContainer.className = "img__container__clicked";

		isImgMaximized.value = true;
		emit("maxIcon", key);
	}

	function minimizeImage(key: any) {
		const imageContainer = postsEl.value[key].children[1];
		imageContainer.className = "img__container img__container__unclicked";

		imageContainer.ontransitionend = () => {
			if (
				imageContainer.className ===
				"img__container img__container__unclicked"
			) {
				imageContainer.className = "img__container";
			}
		};
		isImgMaximized.value = false;
	}

	function getPageCenter() {
		const center = reactive({
			horizontal: window.innerWidth / 2,
			vertical: window.innerHeight / 2,
		});
		return center;
	}

	async function handleDeletePost(id: number) {
		const response = await fetch(`${backendUrl}/posts/${id}`, {
			method: "DELETE",
			credentials: "include",
		});
		const data = await response.json();
		deletePost(data);
	}
	function deletePost(data: Post) {
		const postIndex = posts.findIndex(post => post._id == data._id);
		posts.splice(postIndex, 1);
	}

	async function getPosts() {
		const response = await fetch(`${backendUrl}/posts/`);
		const data = await response.json();

		posts.push(...data);
	}

	const getMissingPosts = (payload: Post[]) => {
		// Payload contains the newly-fetched posts

		// Filters posts present in only one array
		const postsToAdd = payload.filter(
			(payloadPost: Post) =>
				!posts.some(localPost => payloadPost._id === localPost._id)
		);

		// Places the contents of the filtered posts
		// at the start of the displayed posts array
		posts.unshift(...postsToAdd);
	};

	async function pawPost(id: number) {
		if (user.isAuth) {
			try {
				const response = await fetch(`${backendUrl}/posts/${id}/paw`, {
					headers: {
						Accept: "application/json",
						"Content-Type": "application/json",
					},
					method: "PATCH",
					credentials: "include",
					body: JSON.stringify({ action: "paw" }),
				});
				const data = await response.json();
				posts[posts.findIndex(post => post._id == id)].paws =
					data.newPaws;
				posts[posts.findIndex(post => post._id == id)].pawedBy =
					data.pawedBy;
			} catch {
				console.log("could not paw post");
			}
		} else {
			emit("unauthorized");
		}
	}

	onMounted(() => {
		getPosts();

		window.addEventListener("resize", () => {
			// Resets the maximized image position when the window is resized
			pageSize.width = window.innerWidth;
			pageSize.height = innerHeight;

			if (maximizedIcon.element) {
				const image = maximizedIcon.element;

				getImageValues(image);
				pageCenter.value = getPageCenter();
			}
		});
	});
	defineExpose({ getMissingPosts, postsEl, minimizeImage });
</script>

<template>
	<transition-group name="list" tag="div">
		<section
			v-for="(postData, key) in posts"
			:key="postData._id"
			v-memo="[postData.paws]"
			:ref="el => (postsEl[key] = el)"
		>
			<transition name="pawer" mode="out-in">
				<button
					title="Paw post"
					v-if="!postData.paws"
					id="pawer__zero"
					@click="pawPost(postData._id)"
				>
					<i class="fas fa-paw"></i>
				</button>

				<button
					title="Paw post"
					v-else-if="postData.paws && !isPawed(postData)"
					id="pawer__has-value"
					@click="pawPost(postData._id)"
				>
					<i class="fas fa-paw"></i>
					<p id="paw-number">{{ postData.paws }}</p>
				</button>

				<button
					title="Unpaw post"
					v-else-if="isPawed(postData)"
					id="pawer__pawed"
					@click="pawPost(postData._id)"
				>
					<i class="fas fa-paw"></i>
					<p id="paw-number">{{ postData.paws }}</p>
				</button>
			</transition>

			<div class="img__container noSelect">
				<img
					title="Maximize image"
					loading="lazy"
					class="noSelect"
					:src="
						postData.localImage
							? postData.fallbackImgPath + postData.image
							: postData.image
					"
					alt="panda icon"
					ref="imageEl"
					@click="maximizeImage(key, $event)"
				/>
				<transition name="fade">
					<div v-if="isImgMaximized" id="imgPhilosopherName">
						{{ postData.name }}
					</div>
				</transition>
			</div>
			<p class="quote">
				{{ postData.quote }}
			</p>

			<div id="philosopher__container">
				<p>– {{ postData.name }}, {{ postData.year }}</p>
			</div>

			<div id="buttons__container">
				<button
					v-if="postData.name === user.name"
					class="reaction-btn fire-btn"
					@click="handleDeletePost(postData._id)"
				>
					<i class="fa-solid fa-fire-flame-curved fa-lg"></i>
				</button>
			</div>
		</section>
	</transition-group>
</template>

<style scoped lang="scss">
	@import url(../assets/icons/css/all.css);
	$img-width: v-bind("imgSize.width.toString() + 'px'");
	$img-height: v-bind("imgSize.height.toString() + 'px'");
	$page-width__raw: v-bind("pageSize.width");
	$page-height__raw: v-bind("pageSize.height");

	$page-center-horizontal__raw: v-bind(
		"pageCenter.horizontal.toString() + 'px'"
	);
	$page-center-vertical__raw: v-bind("pageCenter.vertical.toString() + 'px'");

	$left-pos: v-bind("maximizedIcon.leftPos.toString() + 'px'");
	$top-pos: v-bind("maximizedIcon.topPos.toString() + 'px'");

	// Calculate the center depending on the image's size and position:
	$page-center-horizontal: calc(
		(#{$page-center-horizontal__raw}) - (#{$img-width} / 2) - $left-pos
	);
	$page-center-vertical: calc(
		(#{$page-center-vertical__raw}) - (#{$img-height} / 2) - $top-pos
	);

	section {
		display: flexbox;
		overflow: hidden;
		background-color: var(--bigContainer);
		margin: 1em 1em;
		padding: 15px;
		padding-bottom: 10px;
		border-radius: 25px;
		overflow: visible;
	}

	%img__container {
		position: relative;
		width: 80px;
		height: 60px;
		border-radius: 30px;
		float: left;
		margin-right: 15px;
		transition: all 0.3s;
		overflow: hidden;

		img {
			cursor: zoom-in;
			width: auto;
			height: auto;
			max-height: 60px;
			transition: all 0.3s;
		}
	}

	.img__container {
		@extend %img__container;
		&:hover {
			transform: scale(1.2);
			border-radius: 10px;
		}

		&__clicked {
			@extend %img__container;
			z-index: 4;
			border-radius: 1px;
			pointer-events: none;
			overflow: visible;
			transform: translate(
					calc($page-center-horizontal),
					calc($page-center-vertical)
				)
				scale(6);
			background-color: var(--foreground);
		}

		&__unclicked {
			z-index: 4;
			transform: translate(-#{$left-pos}, -#{$top-pos});
		}
	}

	#imgPhilosopherName {
		width: fit-content;
		padding-left: 1em;
		padding-right: 1em;
		font-size: 0.25em;
		font-weight: bold;
		background-color: var(--foreground);
		color: var(--highlightedFont);
		border-radius: 2px;
		transition: all 0.5s;
	}
	@include mobile {
		.img__container__clicked {
			transform: translate(
					calc($page-center-horizontal),
					calc($page-center-vertical)
				)
				scale(calc(($page-width__raw / 80)));
		}
	}
	@include tiny-height {
		.img__container__clicked {
			transform: translate(
					calc($page-center-horizontal),
					calc($page-center-vertical)
				)
				scale(calc(($page-width__raw / 80)));
		}
	}

	#philosopher__container {
		clear: both;

		p {
			float: right;
			font-weight: bold;
			transition: all 0.4s;
			color: var(--font);

			&:hover {
				color: var(--accent);
				cursor: default;
			}
		}
	}

	.quote {
		text-align: left;
		word-wrap: break-word;
		color: var(--font);
	}

	#buttons__container {
		clear: both;
		min-height: 1.1em;
	}

	.reaction-btn {
		background: none;
		border: none;
		padding-right: 5px;
		float: left;

		& i {
			transition: all 0.2s;
			color: var(--font);

			&:hover {
				font-size: 1.3em;
				color: var(--accent);
			}
		}
	}

	%pawer {
		position: relative;
		float: right;
		border: none;
		background: var(--accent);
		height: 2.5em;
		width: 3em;
		border-radius: 10px;
		color: var(--accentFont);
		transition: all 0.3s;

		i {
			margin-top: 0.3em;
		}
		p {
			font-size: 0.7em;
			font-weight: bold;
		}
	}
	#pawer__zero {
		@extend %pawer;
		right: -15px;
		top: -15px;
	}
	#pawer__has-value,
	#pawer__pawed {
		@extend %pawer;
		width: 3.5em;
		height: 2.75em;
		right: -25px;
		top: -25px;

		&:active {
			transition: transform 0.1s;
			transform: translate(-0.5em, 0.5em);
		}
	}
	#pawer__pawed {
		background: var(--accentFont);
		color: var(--accent);
		border: 1px solid var(--accent);
		width: 3.75em;
		height: 3em;

		i {
			margin-top: 0.1em;
			font-size: 1.15rem;
		}
	}

	.pawer- {
		&enter-from {
			opacity: 0.5;
			transform: translate(0.5em, -0.5em);
		}
		&leave-to {
			opacity: 0;
			transform: translate(0.5em, -0.5em);
		}

		&enter-active,
		&leave-active {
			transition: all 0.3s;
			position: absolute;
		}
	}

	.fade- {
		&enter-from,
		&leave-to {
			opacity: 0;
		}

		&enter-active,
		&leave-active {
			transition: all 0.3s;
		}
	}

	/* set general start & finish state */
	.list- {
		&enter-from,
		&leave-to {
			opacity: 0;
		}
		&enter-to,
		&leave-from {
			opacity: 100;
		}

		/* specify initial & final state */
		&enter-from {
			transform: translateY(-70%);
		}
		&leave-to {
			transform: translateX(100%);
		}

		/* set animation duration */
		&enter-active,
		&leave-active {
			transition: all 0.5s;
		}

		/* apply move transition when post is deleted */
		&move {
			transition: all 0.5s;
		}

		/* ensure move transition won't wait to reduce space */
		&leave-active {
			position: absolute;
		}
	}
</style>
