<!-- This file is part of Pandosophy
	Pandosophy is a web app built with Vue. Among its goals are serving as an educational tool by providing an example of the framework's usage, and serving as a template for developers intending to create their own project.
    Copyright (C) 2022, Andrés Schafer <altersapiens@tutanota.com>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<script setup lang="ts">
	import { reactive, ref } from "vue";
	import { user, backendUrl } from "@/assets/store";

	interface Philosopher {
		quote: string;
	}

	const newPhilosopher: Philosopher = reactive({
		quote: "",
	});

	const emit = defineEmits(["hide", "updatePostsEmitter"]);

	function submitPost() {
		if (newPhilosopher.quote.trim() === "") {
			newPhilosopher.quote = `Re-roll the dice.`;
		}

		uploadPost();
	}
	async function uploadPost() {
		try {
			const response = await fetch(`${backendUrl}/posts`, {
				headers: {
					Accept: "application/json",
					"Content-Type": "application/json",
				},
				method: "POST",
				body: JSON.stringify({
					quote: newPhilosopher.quote,
				}),
				credentials: "include",
			});
			const posts = await response.json();

			emitPostsUpdate(posts);
		} catch (err) {
			console.log(err);
		}
	}

	function resetText() {
		newPhilosopher.quote = "";
	}
	function hide() {
		emit("hide");
	}
	function emitPostsUpdate(res: Array<object>) {
		emit("updatePostsEmitter", res);
	}
</script>

<template>
	<section>
		<div id="info-input__container">
			<button id="icon-chooser">
				<i class="fa-solid fa-user fa-2x"></i>
			</button>
			<div class="input__container">
				<p>{{ user.name }}</p>
			</div>
			<p id="enter-quote">...</p>
			<div class="input__container" id="quote__container">
				<textarea
					name="text"
					id="quote-input"
					maxlength="1000"
					cols="30"
					rows="10"
					v-model="newPhilosopher.quote"
					placeholder="Share your wisdom!"
				/>
			</div>
		</div>
		<div class="submit__container">
			<input
				id="submit-btn"
				type="submit"
				value="PLANT"
				@click="
					submitPost();
					hide();
					resetText();
				"
			/>
		</div>

		<button id="close-btn" class="noSelect" @click="hide()">
			<i class="fa-solid fa-caret-down fa-lg"></i>
		</button>
	</section>
</template>

<style scoped lang="scss">
	@import url(../assets/icons/css/all.css);

	section {
		position: fixed;
		bottom: 0;
		width: 100vw;
		background-color: var(--background);
		height: fit-content;

		transition: all 0.5s;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		z-index: 4;
		overflow-y: auto;
	}

	@include tiny-height {
		section {
			height: 100%;
		}
	}
	@include mobile {
		section {
			display: flex;
			flex-direction: column;
		}
		.submit__container {
			height: 80px;
			margin-top: auto;
		}
	}
	@media only screen and (min-width: 600px) {
		section {
			display: flex;
		}
		#info-input__container {
			margin-top: auto;
			margin-bottom: auto;
			height: auto;
			width: 75%;
		}
		.submit__container {
			min-height: 250px;
			width: 25%;
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}

	#icon-chooser {
		background: none;
		border: none;
		margin-bottom: 10px;
		color: var(--highlightedFont);
		cursor: pointer;
	}

	#info-input__container {
		padding-top: 20px;
	}

	#close-btn {
		@extend icon-button;
		color: var(--highlightedFont);
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: 10px;
		margin-bottom: 2vh;
		align-items: center;
		font-size: 2em;
		cursor: pointer;
	}

	.whiteiconcolor {
		color: white;
	}

	.input__container {
		display: flex;
		justify-content: center;
		height: fit-content;
		min-height: 1.5em;
		margin-bottom: 10px;

		p {
			color: var(--highlightedFont);
		}
	}

	input {
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif;
		font-size: 1.5em;
		text-align: center;
		border: none;
		background-color: var(--textInput);
		border-radius: 20px;
		height: 100%;
		min-height: 1.5em;
		max-height: 10vh;
		width: 70%;
	}
	#enter-quote {
		color: var(--highlightedFont);
	}
	#quote__container {
		height: auto;
		min-height: 40px;
		max-height: 80px;
		margin-bottom: 40px;
	}
	textarea {
		font-size: 1em;
		text-align: center;

		max-height: 100%;
		width: 85%;
	}

	input[type="submit"] {
		text-transform: uppercase;
		background: var(--foreground);
		color: var(--highlightedFont);
		height: 100%;
		min-height: 80px;
		width: 80%;
		padding: 10px;
		&:active {
			background-color: var(--disabled);
			color: var(--disabledFont);
		}
	}

	.translate-enter-active,
	.translate-leave-active {
		transition: all 0.3s;
	}
	.translate-enter-from,
	.translate-leave-to {
		opacity: 0;
		transform: translateY(80%);
	}
</style>
