// This file is part of Pandosophy
// Pandosophy is a web app built with Vue. Among its goals are serving as an educational tool
// by providing an example of the framework's usage,
// and serving as a template for developers intending to create their own project.

// Copyright (C) 2022, Andrés Schafer <altersapiens@tutanota.com>

//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU Affero General Public License as published by
//     the Free Software Foundation, either version 3 of the License, or
//     (at your option) any later version.

//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU Affero General Public License for more details.

//     You should have received a copy of the GNU Affero General Public License
//     along with this program.  If not, see <https://www.gnu.org/licenses/>.

$mobile-width: 600px;
$tiny-width: 420px;
$tiny-height: 480px;

@mixin flexCenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

@mixin mobile {
	@media only screen and (max-width: $mobile-width) {
		@content;
	}
}

@mixin wide-screen {
	@media only screen and (min-width: $mobile-width) {
		@content;
	}
}

@mixin tiny-width {
	@media only screen and (max-width: $tiny-width) {
		@content;
	}
}

@mixin tiny-height {
	@media only screen and (max-height: $tiny-height) {
		@content;
	}
}

icon-button {
	border: none;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	background: none;
	color: var(--font);
	cursor: pointer;
	transition: all 70ms;
}

.return-btn {
	color: var(--highlightedFont);
	background-color: var(--background);
	border-radius: 50%;
	transition: all 0.2s;
	bottom: 1.5em;
	left: 1.5em;
	position: fixed;
	box-shadow: 0.2em 0.2em 0.25em black;

	&:hover {
		cursor: pointer;
	}
}
