// This file is part of Pandosophy
// Pandosophy is a web app built with Vue. Among its goals are serving as an educational tool
// by providing an example of the framework's usage,
// and serving as a template for developers intending to create their own project.

// Copyright (C) 2022, Andrés Schafer <altersapiens@tutanota.com>

//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU Affero General Public License as published by
//     the Free Software Foundation, either version 3 of the License, or
//     (at your option) any later version.

//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU Affero General Public License for more details.

//     You should have received a copy of the GNU Affero General Public License
//     along with this program.  If not, see <https://www.gnu.org/licenses/>.

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

[v-cloak] {
	display: none;
}

body,
html {
	background: black;
	max-width: 100%;
	overflow-x: hidden;
	min-height: 100vh;
}
section {
	background: var(--background);
}

button,
input[type="button"],
input[type="submit"],
div,
img,
.noSelect {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:focus {
		outline: none !important;
	}
}

.outside {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: black;
	opacity: 0.75;
	z-index: 3;
}

#ham-menu {
	@extend icon-button;
	position: fixed;
	width: 1.5em;
	height: 1.5em;
	left: 0.75em;
	top: 0.75em;
	color: beige;
	z-index: 3;
	transition: all 0.2s;
}

.textbox {
	width: 90%;
	height: fit-content;
	margin-bottom: 3vh;
	margin-left: 5%;
	margin-right: 5%;
	padding: 20px;
	background-color: var(--bigContainer);
	color: var(--font);
	border-radius: 5px;
	p {
		text-align: left;
	}
}

button,
input[type="button"],
input[type="submit"] {
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: var(--accent);
	color: var(--accentFont);
	font-weight: bolder;
	font-size: 0.9rem;
	transition: all 75ms;

	&:active {
		background: var(--disabled);
		color: var(--disabledFont);
	}
}

textarea,
input[type="text"],
input[type="password"] {
	color: var(--textInputFont);
}
textarea {
	background: var(--textInput);
	border: 1px solid var(--accent);
	padding: 0.75em;
	border-radius: 15px;
}

.xtranslate-enter-active,
.xtranslate-leave-active {
	transition: all 0.3s;
}
.xtranslate-enter-from,
.xtranslate-leave-to {
	transform: translateX(-100%);
}

.glide- {
	&enter-active,
	&leave-active {
		transition: all 0.3s;
	}
	&enter-from,
	&leave-to {
		transform: translateY(-10%);
		opacity: 0;
	}
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
	transition: all 0.3s;
}

.scale-enter-from,
.scale-leave-to {
	opacity: 0;

	transform: scale(0.75) translate(-1em, 1em);
}
.scale-enter-active,
.scale-leave-active {
	transition: all 0.3s;
	position: absolute;
}
