<script setup lang="ts">
	import { useRouter } from "vue-router";
	const router = useRouter();
</script>

<template>
	<a class="return-btn" @click="router.back()">
		<i class="fa-solid fa-circle-chevron-left fa-2x"></i>
	</a>
</template>

<style scoped lang="scss">
	@import url(../../assets/icons/css/all.css);
</style>
