<!-- This file is part of Pandosophy
	Pandosophy is a web app built with Vue. Among its goals are serving as an educational tool by providing an example of the framework's usage, and serving as a template for developers intending to create their own project.
    Copyright (C) 2022, Andrés Schafer <altersapiens@tutanota.com>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<script setup lang="ts">
	import { useRouter } from "vue-router";
	import { themeName, theme } from "./assets/themes";
	const router = useRouter();
</script>

<template>
	<div class="content">
		<router-view v-slot="{ Component }">
			<transition
				:name="$route.meta.transition as string || 'fade'"
				mode="out-in"
			>
				<component :style="theme" :is="Component" :key="themeName" />
			</transition>
		</router-view>
	</div>
</template>

<style lang="scss">
	@import "./assets/style.scss";

	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: var(--background);
	}

	.pop-enter-from,
	.pop-leave-to {
		opacity: 0;
		transform: scale(0.75);
	}
	.pop-enter-active,
	.pop-leave-active {
		transition: all 0.5s;
	}

	.slide-side-enter-from,
	.slide-side-leave-to {
		opacity: 0;
		transform: translateX(100%);
	}
	.slide-side-enter-active,
	.slide-side-leave-active {
		transition: all 0.5s;
	}

	.fade-enter-from,
	.fade-leave-to {
		opacity: 0;
	}

	.fade-enter-active,
	.fade-leave-active {
		transition: all 0.3s;
	}
</style>
