<!-- This file is part of Pandosophy
	Pandosophy is a web app built with Vue. Among its goals are serving as an educational tool by providing an example of the framework's usage, and serving as a template for developers intending to create their own project.
    Copyright (C) 2022, Andrés Schafer <altersapiens@tutanota.com>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<script setup lang="ts">
	import { theme } from "../assets/themes";
	import { useRouter } from "vue-router";
	import ReturnButton from "../components/elements/ReturnButton.vue";

	const router = useRouter();
</script>

<template>
	<section>
		<h1>About</h1>
		<br />
		<div class="textbox">
			<p>Welcome to pandosophy!</p>
			<br />
			<p>
				This is a WIP, so more features should arrive down the road. In
				the meantime, why don't you share some wisdom (or bamboo) with
				the pandas?
			</p>
			<br />
			<p>Make yourself at home :D</p>
			<p></p>
		</div>
		<p>
			This web app is an open-source project. The repository can be found
			here:
		</p>
		<a href="https://gitlab.com/another-sapiens/pandosophy"
			>https://gitlab.com/another-sapiens/pandosophy</a
		>
		<br /><br />
		<p>Developed by Andrés Schafer and licensed under AGPL-3</p>

		<ReturnButton />
	</section>
</template>

<style scoped lang="scss">
	@import url(../assets/icons/css/all.css);

	section {
		padding: 2em;
		width: 100%;
		height: 100vh;
		display: flexbox;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		background-color: var(--background);
		color: var(--highlightedFont);
	}
</style>
