<script setup lang="ts">
	import { reactive } from "vue";
	import ReturnButton from "@/components/elements/ReturnButton.vue";
	import { declareAuth, setUsername, backendUrl } from "@/assets/store";
	import { useRouter } from "vue-router";
	const router = useRouter();

	const user = reactive({
		name: "",
		pass: "",
	});

	async function login() {
		const response = await fetch(`${backendUrl}/users/login`, {
			headers: {
				Accept: "application/json",
				"Content-Type": "application/json",
			},
			credentials: "include",
			method: "POST",
			body: JSON.stringify({
				username: user.name,
				password: user.pass,
			}),
		});
		const data = await response.json();
		if (data.isAuth) {
			// Globally state auth as true, and redirect to posts page
			declareAuth();
			setUsername(data.username);
			router.push("/");
		} else {
			router.push("/login");
		}
	}
</script>

<template>
	<section>
		<form action="#">
			<fieldset>
				<legend><strong>LOGIN</strong></legend>
				<div id="input__container">
					<div class="input-pair">
						<label for="username"
							><small><strong>Username:</strong></small></label
						>
						<input
							type="text"
							name="username"
							required
							maxlength="15"
							v-model="user.name"
						/>
					</div>
					<div class="input-pair">
						<label title="Input your password here" for="password"
							><small><strong>Password:</strong></small></label
						>
						<input
							type="password"
							name="password"
							required
							v-model="user.pass"
						/>
					</div>
					<div id="remember-me">
						<input type="checkbox" name="remember" />
						<label for="remember">Remember me</label>
					</div>
				</div>
				<router-link class="link" to="/sign-up">Sign up</router-link>
				<input type="button" value="Login" @click="login()" />
			</fieldset>
		</form>
		<ReturnButton />
	</section>
</template>

<style scoped lang="scss">
	section {
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--background);
		min-height: 100vh;
		padding: 2rem;
		font-size: large;
	}
	form {
		width: min(40em, 100%);
		color: var(--highlightedFont);
		label {
			color: var(--highlightedFont);
			justify-self: start;
		}
	}
	fieldset {
		background: var(--foreground);
		padding: 2rem;
		border: 2px solid var(--accent);
		box-shadow: 1em 1em 1em black;

		legend {
			padding: 0.1em 1em;
			background: var(--background);
			border-radius: 1em;
			border: 3px solid var(--accent);
		}
		.input-pair {
			display: grid;
			transition: all 0.2s;
			&:focus-within {
				transform: scale(1.1);

				&:valid {
					background-color: red;
				}
			}
		}
		#input__container {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
			grid-gap: 2em;
			margin-bottom: 2em;
			justify-content: center;
		}
	}
	input {
		&[type="text"],
		&[type="password"] {
			border: 1px solid var(--accent);
			border-radius: 0.5rem;
			background: var(--textInput);
			padding: 0.25rem 1rem;
			color: var(--textInputFont);

			&:invalid {
				border: 1px solid red;
			}
		}

		&[type="button"] {
			font-size: 1.1rem;
			float: right;
			padding: 0.5rem 1rem;
		}
	}

	.link {
		float: left;
		padding: 0.5rem 1rem;
		color: var(--highlightedFont);
	}

	#remember-me {
		justify-self: left;
		label {
			padding-left: 0.25rem;
			font-size: medium;
		}
	}
</style>
