<!-- This file is part of Pandosophy
	Pandosophy is a web app built with Vue. Among its goals are serving as an educational tool by providing an example of the framework's usage, and serving as a template for developers intending to create their own project.
    Copyright (C) 2022, Andrés Schafer <altersapiens@tutanota.com>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<template>
	<section>
		<div id="propapander">
			<h1>Panda lore!</h1>
			<div class="textbox">
				<p>
					Baffled at Panda's greatness, the Chinese had sworn an oath
					to protect -- and create -- bamboo at any cost.
				</p>
			</div>
			<div class="textbox">
				<p>
					However, evil horsemen came from the North, who burnt all
					the bamboo in their path and grew wheat at the Horse's
					command.
				</p>
			</div>
			<div class="textbox">
				<p>
					They called themselves the Mongols. <br />
					<br />
					However, none of them (not even the high-ranking
					horse-fficers) knew that their glorious leader -- Genghis
					Khan himself -- was no less than a big, bad Panda! <br />
					He had bullied everyone into thinking he was a horse
					sympathizer, but his real intentions were to get ahold of
					ALL the land, make the horses believe they're gonna get all
					the wheat they can plant... And then, give those dumb horses
					the wrong seeds. The horses would make all the hard work,
					and sow his beloved wood without ever realizing.<br />
					<br />
					Once done, Panda Khan (as he secretly called himself) would
					place the blame on innocent donkeys, as it was the custom.
					While horses and donkeys fought against each other, Panda
					Khan would make his army bring the bamboo into his palace,
					so he could further investigate the "evidence".
				</p>
			</div>
			<a class="return-btn" @click="$router.back()">
				<i class="fa-solid fa-circle-chevron-left fa-2x"></i>
			</a>
		</div>
	</section>
</template>

<style scoped lang="scss">
	@import url(../assets/icons/css/all.css);

	section {
		width: 100vw;
		min-height: 100vh;
	}

	#propapander {
		height: 100%;
		width: 100%;
	}

	h1 {
		color: var(--highlightedFont);
		margin-top: 5px;
		margin-bottom: 3vh;
	}
</style>
