<!-- This file is part of Pandosophy
	Pandosophy is a web app built with Vue. Among its goals are serving as an educational tool by providing an example of the framework's usage, and serving as a template for developers intending to create their own project.
    Copyright (C) 2022, Andrés Schafer <altersapiens@tutanota.com>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<script setup lang="ts">
	import { setScrollable } from "@/assets/store";
	import Posts from "@/components/Posts.vue";
	import Menu from "@/components/Menu.vue";
	import PostAdder from "@/components/PostAdder.vue";
	import { onMounted, ref } from "vue";
	import { user, backendUrl } from "@/assets/store";
	import Notification from "@/components/Notification.vue";

	interface Post {
		id: number;
		name: string;
		quote: string;
		year: number;
		image: string;
		paws?: number;
	}

	const askAuth = ref(false);

	// posts handles the "ref" attribute in the Posts.vue component
	const posts = ref();

	let show = ref(false);
	let showMenu = ref(false);

	let maximizedImage = ref({
		dimBackground: false,
		imageKey: 0,
	});

	const refresherIcon = ref("fa fa-refresh fa-2x");

	function handleMaxIcon(payload: any) {
		maximizedImage.value.dimBackground = true;
		maximizedImage.value.imageKey = payload;
		setScrollable(false);
	}

	function handleUpdatePosts(payload: Post[]) {
		// DEPRECATED:
		// this.$refs.posts.getMissingPosts(payload);
		// The current way of accessing child component methods is
		// exposing a method variable through defineExpose

		// .value accesses its properties
		posts.value?.getMissingPosts(payload);
	}

	async function refreshPosts() {
		refresherIcon.value = "fa-solid fa-spinner fa-pulse fa-2x";
		const response = await fetch(`${backendUrl}/posts/`);
		const data = await response.json();
		posts.value?.getMissingPosts(data);
		refresherIcon.value = "fa fa-refresh fa-2x";
	}

	onMounted(() => {
		setScrollable(true);
	});
</script>

<template>
	<div id="app" v-cloak>
		<div>
			<transition name="glide">
				<Notification
					v-if="askAuth"
					header="Log in"
					text="This action requires logging in. Don't worry, it's easy  ;)"
					@notifClose="askAuth = false"
				/>
			</transition>
			<transition name="xtranslate">
				<Menu
					v-if="showMenu"
					v-cloak
					@toggleMenu="
						showMenu = false;
						setScrollable(true);
					"
				/>
			</transition>

			<transition name="fade">
				<div
					v-if="showMenu"
					class="outside"
					@click="
						showMenu = false;
						setScrollable(true);
					"
				></div>
			</transition>
		</div>

		<div id="header__container">
			<button
				id="ham-menu"
				@click="
					showMenu = true;
					setScrollable(false);
				"
				class="noSelect"
			>
				<i class="fas fa-bars fa-2x"></i>
			</button>
			<h1 id="header">Pandosophy</h1>
			<button
				id="posts-refresher"
				@click="refreshPosts()"
				class="noSelect"
			>
				<i :class="refresherIcon"></i>
			</button>
		</div>
		<Posts
			id="posts-root"
			ref="posts"
			@maxIcon="handleMaxIcon"
			@unauthorized="askAuth = true"
			:maxImage="maximizedImage"
		/>

		<button
			id="floating-btn"
			class="noSelect"
			@click="user.isAuth ? (show = true) : (askAuth = true)"
		>
			<i class="fa-solid fa-plus fa-2x"></i>
		</button>

		<transition name="translate">
			<PostAdder
				v-if="show"
				v-cloak
				@hide="show = false"
				@updatePostsEmitter="handleUpdatePosts"
			/>
		</transition>

		<transition name="fade">
			<div
				v-if="show || askAuth"
				class="outside"
				@click="
					show = false;
					askAuth = false;
					setScrollable(true);
				"
			></div>
		</transition>

		<transition name="fade">
			<div
				v-if="maximizedImage.dimBackground"
				class="outside"
				@click="
					maximizedImage.dimBackground = false;
					posts.minimizeImage(maximizedImage.imageKey);
					setScrollable(true);
				"
			></div>
		</transition>
	</div>
</template>

<style scoped lang="scss">
	@import "../assets/style.scss";
	@import url(../assets/icons/css/all.css);

	#app {
		background-color: var(--background);
		min-height: 100vh;
	}
	#header__container {
		display: flex;
		background-color: var(--foreground);
		border-radius: 5px;
		width: 100vw;
	}

	#ham-menu {
		color: var(--highlightedFont);

		&:active {
			color: var(--foregroundColor);
		}
	}

	#header {
		font-family: cursive;
		text-align: center;
		margin: auto;
		color: var(--highlightedFont);
	}

	#posts-refresher {
		@extend icon-button;
		margin-right: 20px;
		color: var(--highlightedFont);
		transition: all 1s;
	}
	#posts-refresher:hover {
		transform: rotate(360deg);
	}

	#posts-root {
		position: relative;
		display: grid;
		padding: 1em 1em;
		grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
		grid-auto-flow: dense;
		justify-content: center;
	}

	@include tiny-height {
		#icon-metainfo {
			font-size: 0.8em;
		}
	}

	#floating-btn {
		@extend icon-button;
		position: fixed;
		bottom: 10vh;
		right: 5vw;
		width: 60px;
		height: 60px;
		background-color: var(--accent);
		color: var(--accentFont);
		box-shadow: 2px 2px 3px rgb(39, 38, 38);
	}
	#floating-btn:active {
		transform: scale(0.75);
	}
</style>
