<!-- This file is part of Pandosophy
	Pandosophy is a web app built with Vue. Among its goals are serving as an educational tool by providing an example of the framework's usage, and serving as a template for developers intending to create their own project.
    Copyright (C) 2022, Andrés Schafer <altersapiens@tutanota.com>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<script setup lang="ts">
	import {
		getThemeList,
		changeTheme,
		themeName,
		getTheme,
	} from "../assets/themes";
	import ReturnButton from "../components/elements/ReturnButton.vue";
</script>

<template>
	<div id="settings">
		<h1>Themes</h1>

		<button
			class="theme-toggler"
			v-for="(themeString, index) in getThemeList()"
			:key="index"
			@click="changeTheme(themeString)"
			:disabled="themeString === themeName"
		>
			{{ getTheme(themeString)?.actualName }}
		</button>

		<ReturnButton />
	</div>
</template>

<style lang="scss" scoped>
	#settings {
		background-color: var(--background);
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 5px;
		padding-top: 2em;
	}

	h1 {
		color: var(--highlightedFont);
		margin-bottom: 5vh;
	}

	.theme-toggler {
		flex-wrap: wrap;
		margin-bottom: 5vh;
		width: 60vw;
		height: 4em;
		font-size: medium;
		background-color: var(--foreground);
		color: var(--highlightedFont);
		border: none;
		border-radius: 15px;
		transition: all 0.2s;

		&:hover {
			background-color: var(--accent);
			color: var(--accentFont);
		}

		&:disabled {
			background-color: var(--disabled);
			color: var(--disabledFont);
		}
	}
</style>
