<!-- This file is part of Pandosophy
	Pandosophy is a web app built with Vue. Among its goals are serving as an educational tool by providing an example of the framework's usage, and serving as a template for developers intending to create their own project.
    Copyright (C) 2022, Andrés Schafer <altersapiens@tutanota.com>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<script setup lang="ts">
	import ReturnButton from "../components/elements/ReturnButton.vue";
</script>

<template>
	<div class="shop">
		<h1>Go shopping!</h1>
		<p>
			This is currently a placeholder, but soon you'll be able to buy all
			the goodies your inner panda rightfully desires :)
		</p>
		<ReturnButton />
	</div>
</template>

<style scoped lang="scss">
	.shop {
		background-color: var(--background);
		display: flexbox;
		width: 100vw;
		height: 100vh;
		padding: 2em;
	}
	h1 {
		color: beige;
		margin-bottom: 3vh;
	}
	p {
		color: beige;
		margin-bottom: 2vh;
		margin-right: 5vw;
		margin-left: 5vw;
	}
</style>
