<script setup lang="ts">
	import { reactive, ref } from "vue";
	import ReturnButton from "@/components/elements/ReturnButton.vue";
	import { backendUrl, declareAuth, setUsername } from "@/assets/store";
	import { useRouter } from "vue-router";
	import Notification from "@/components/Notification.vue";
	const router = useRouter();

	const avatar = reactive({
		file: "",
		name: "",
	});

	const user = reactive({
		name: "",
		pass: "",
		species: "",
		bio: "",
	});

	const animals = ref(["Panda", "Horse", "Koala", "Ant", "Human"]);

	const authSuccess = ref(false);

	async function uploadImage(e: any) {
		avatar.file = e.target.files[0];
		const formData = new FormData();
		formData.append("avatar", avatar.file);

		const response = await fetch(`${backendUrl}/users/upload-image`, {
			method: "POST",
			body: formData,
		});
		avatar.name = await response.json();
	}

	async function register() {
		const response = await fetch(`${backendUrl}/users/sign-up`, {
			headers: {
				Accept: "application/json",
				"Content-Type": "application/json",
			},
			credentials: "include",
			method: "POST",
			body: JSON.stringify({
				username: user.name,
				password: user.pass,
				image: avatar.name,
				species: user.species,
				bio: user.bio,
			}),
		});
		const data = await response.json();
		console.log(data);

		if (data.isAuth) {
			// Globally state auth as true, and redirect to posts page
			console.log("signed up!");

			declareAuth();
			setUsername(data.username);
			authSuccess.value = true;
			setTimeout(() => {
				router.push("/");
			}, 3000);
		} else {
			router.push("/sign-up");
		}
	}
</script>

<template>
	<section>
		<transition name="glide">
			<Notification
				v-if="authSuccess"
				header="Welcome to Pandosophy!"
				text="You will be redirected to the posts page :)"
				@notifClose="router.push('/')"
			/>
		</transition>

		<transition name="fade">
			<div
				v-if="authSuccess"
				class="outside"
				@click="
					authSuccess = false;
					router.push('/');
				"
			></div>
		</transition>
		<form action="#">
			<fieldset>
				<legend><strong>SIGN UP</strong></legend>
				<div id="input__container">
					<div class="input-pair">
						<label for="username"
							><span>*</span
							><small><strong>Username:</strong></small></label
						>
						<input
							type="text"
							name="username"
							required
							maxlength="15"
							v-model="user.name"
						/>
					</div>
					<div class="input-pair">
						<label title="Input your password here" for="password"
							><span>*</span
							><small><strong>Password:</strong></small></label
						>
						<input
							type="password"
							name="password"
							required
							v-model="user.pass"
						/>
					</div>
					<div class="chooser">
						<label for="remember">Choose avatar:</label>

						<input
							type="file"
							name="avatar"
							accept="image/*"
							@change="uploadImage($event)"
						/>
						<img :src="`${backendUrl}/images/${avatar.name}`" />
					</div>
					<div class="chooser">
						<label required for="species"
							><span>*</span>Choose your species...</label
						>
						<select name="species" v-model="user.species" required>
							<optgroup label="I'm a...">
								<option
									v-for="animal in animals"
									:value="animal"
								>
									{{ animal }}
								</option>
							</optgroup>
						</select>
						<div>
							<label for="bio">Bio:</label>
							<textarea
								name="bio"
								id="bio"
								cols="30"
								rows="5"
								placeholder="Share some wisdom here!"
							></textarea>
						</div>
					</div>
				</div>
				<input type="button" value="Sign up!" @click="register()" />
			</fieldset>
		</form>
		<ReturnButton />
	</section>
</template>

<style scoped lang="scss">
	section {
		align-items: center;
		justify-content: center;
		background: var(--background);
		min-height: 100vh;
		padding: 2rem;
		font-size: large;
	}
	form {
		width: min(40em, 100%);
		color: var(--highlightedFont);

		label {
			color: var(--highlightedFont);
			justify-self: start;
			float: left;
		}
	}
	fieldset {
		background: var(--foreground);
		padding: 2rem;
		border: 2px solid var(--accent);
		box-shadow: 1em 1em 1em black;

		legend {
			padding: 0.1em 1em;
			background: var(--background);
			border-radius: 1em;
			border: 3px solid var(--accent);
		}
		.input-pair {
			display: grid;
			transition: all 0.2s;
			&:focus-within {
				transform: scale(1.1);

				&:valid {
					background-color: red;
				}
			}
		}
		#input__container {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
			grid-gap: 2em;
			margin-bottom: 2em;
			justify-content: center;
		}
	}
	input {
		&[type="text"],
		&[type="password"] {
			border: 1px solid var(--accent);
			border-radius: 0.5rem;
			background: var(--textInput);
			padding: 0.25rem 1rem;
			color: var(--textInputFont);

			&:invalid {
				border: 1px solid red;
			}
		}

		&[type="button"] {
			font-size: 1.1rem;
			float: right;
			padding: 0.5rem 1rem;
		}
	}

	textarea {
		width: 100%;
		max-width: 100%;
	}

	span {
		color: red;
		font-size: 1rem;
		margin-right: 0.25rem;
	}

	.link {
		float: left;
		padding: 0.5rem 1rem;
		color: var(--highlightedFont);
	}

	.chooser {
		font-size: small;
		select {
			background: var(--textInput);
			color: var(--textInputFont);
			border: 1px solid var(--accent);
			margin-bottom: 2rem;
		}
		input {
			float: left;
			clear: both;
		}
		img {
			float: left;
			clear: both;
			max-width: 7.5rem;
			max-height: 7.5rem;
			margin: 1rem 2rem 0 0;
		}
	}
</style>
