<script setup lang="ts">
	import ReturnButton from "@/components/elements/ReturnButton.vue";
	import { backendUrl } from "@/assets/store";
	import { onMounted, ref } from "vue";
	import { useRoute } from "vue-router";
	const route = useRoute();

	const userBio = ref("");
	const userImg = ref("");

	async function fetchUserImage() {
		const response = await fetch(
			`${backendUrl}/users/${route.params.username}/image`
		);
		const data = await response.json();
		userImg.value = data.image;
	}

	async function fetchUserBio() {
		const response = await fetch(
			`${backendUrl}/users/${route.params.username}/bio`
		);
		const data = await response.json();
		console.log(data);

		userBio.value = data.bio;
		console.log(userBio.value);
	}

	onMounted(() => {
		fetchUserImage();
		fetchUserBio();
	});
</script>

<template>
	<section>
		<img :src="userImg" alt="User avatar" />
		<h1>{{ $route.params.username }}</h1>
		<div class="textbox">
			<p>{{ userBio }}</p>
		</div>
		<ReturnButton />
	</section>
</template>

<style scoped lang="scss">
	section {
		background: var(--background);
		color: var(--highlightedFont);
		min-height: 100vh;
		padding: 2rem;
	}
	h1 {
		margin: 2rem;
	}
	img {
		max-width: 7rem;
		max-height: 7rem;
		width: auto;
		height: auto;
		border-radius: 2rem;
	}
</style>
